<nav class="w-full bg-[#D4D4D4] dark:bg-[#141414]">
  <div
    class="mx-auto justify-between px-4 md:flex md:items-center md:px-8 lg:max-w-7xl"
  >
    <div>
      <div class="flex items-centerjustify-between py-3 md:block md:py-5">
        <a routerLink="/">
          <h2 class="text-xl font-bold text-black dark:text-white">
            SPŠT Knižnica
          </h2>
        </a>
        <div class="md:hidden">
          <button
            class="rounded-md p-2 text-gray-700 outline-none focus:border focus:border-gray-400"
            (click)="toggleNavbar()"
          >
            <ng-container *ngIf="navbar">
              <lucide-icon name="x" [size]="18"></lucide-icon>
            </ng-container>
            <ng-container *ngIf="!navbar">
              <lucide-icon name="menu" [size]="18"></lucide-icon>
            </ng-container>
          </button>
        </div>
      </div>
    </div>
    <div>
      <div
        class="mt-8 flex-1 justify-self-center pb-3 md:mt-0 md:block md:pb-0"
        [ngClass]="{ block: navbar, hidden: !navbar }"
      >
        <ul
          class="items-center justify-center space-y-8 md:flex md:space-x-6 md:space-y-0"
        >
          <li>
            <a routerLink="/" class="cursor-pointer text-black dark:text-white">Domov</a>
          </li>
          <li>
            <a routerLink="/books" class="cursor-pointer text-black dark:text-white">Knihy</a>
          </li>
          <li>
            <a routerLink="/categories" class="cursor-pointer text-black dark:text-white">Kategórie</a>
          </li>
          <li>
            <a routerLink="/publishers" class="cursor-pointer text-black dark:text-white">Vydavateľstvá</a>
          </li>
          <li>
            <a routerLink="/authors" class="cursor-pointer text-black dark:text-white">Spisovatelia</a>
          </li>
          <li>
            <theme-toggle></theme-toggle>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
