<div
  class="container relative z-0 mx-auto px-4 xl:px-0"
>
  <div class="flex flex-col-reverse md:flex-row">
    <div class="md:w-3/5 md:pt-12 lg:py-32">
      <h1
        class="text-heading-color text-center text-3xl font-black leading-tight tracking-tighter text-gray-900 md:w-7/12 md:text-left lg:text-6xl xl:text-8xl"
      >
        SPŠT Knižnica
      </h1>
      <h2
        class="prose py-4 text-center text-lg text-gray-700 md:w-8/12 md:py-8 md:text-left lg:text-2xl"
      >
        <q>Knihy sú jedinečne prenosné kúzlo</q> - Stephen King
      </h2>
      <div class="flex flex-wrap justify-center gap-4 md:justify-start">
        <a
          class="bg-sky-600 font-bold rounded-full transition-all focus:outline-none text-white py-2 px-4 text-lg sm:text-xl"
          href="/books"
        >
          Všetky knihy
        </a>
        <a
          href="https://www.spsbj.sk/"
          class="bg-fuchsia-600 font-bold rounded-full transition-all focus:outline-none text-white py-2 px-4 text-lg sm:text-xl"
        >
          Školská stránka
        </a>
      </div>
    </div>
    <div class="m-auto flex h-64 items-center overflow-hidden sm:w-2/5 md:h-auto">
      <img
        src="https://raw.githubusercontent.com/peterdinis/spst-library/refs/heads/main/public/img/main.png"
        alt="Scholl homepage"
        width="1200"
        height="1200"
        loading="lazy"
      />
    </div>
  </div>
</div>

<div class="overflow-y-hidden">
    <div class="bg-gray-100 py-12 dark:bg-card">
        <div class="max-w-8xl container mx-auto">
            <div
                class="flex flex-wrap items-center justify-center focus:outline-none sm:justify-between"
            >
                <div
                    class="flex items-center flex-col px-6 py-6 focus:outline-none sm:w-1/2 md:w-1/4 md:py-0"
                >
                    <lucide-icon name="home" [size]="18"></lucide-icon>
                    <h4
                        class="pt-5 text-center text-lg font-medium leading-6 text-gray-800 focus:outline-none"
                    >
                        Doma Objednáš
                    </h4>
                </div>
                <div
                    class="flex items-center flex-col px-6 py-6 focus:outline-none sm:w-1/2 md:w-1/4 md:py-0"
                >
                <lucide-icon name="school" [size]="18"></lucide-icon>
                    <h4
                        class="pt-5 text-center text-lg font-medium leading-6 text-gray-800 focus:outline-none"
                    >
                        V škole vyzdhvineš
                    </h4>
                </div>
                <div
                    class="flex items-center flex-col px-6 py-6 focus:outline-none sm:w-1/2 md:w-1/4 md:py-0"
                >
                    <span
                        role="img"
                        aria-label="eyes"
                        class="text-2xl"
                    >
                        👀
                    </span>
                    <h4
                        class="pt-5 text-center text-lg font-medium leading-6 text-gray-800 focus:outline-none"
                    >
                        Ľahké že ?
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>