<div class="overflow-y-hidden">
    <div class="bg-gray-100 py-12 dark:bg-card">
        <div class="max-w-8xl container mx-auto">
            <div
                class="flex flex-wrap items-center justify-center focus:outline-none sm:justify-between"
            >
                <div
                    class="flex items-center flex-col px-6 py-6 focus:outline-none sm:w-1/2 md:w-1/4 md:py-0"
                >
                    <lucide-icon name="home" [size]="18"></lucide-icon>
                    <h4
                        class="pt-5 text-center text-lg font-medium leading-6 text-gray-800 focus:outline-none"
                    >
                        Doma Objednáš
                    </h4>
                </div>
                <div
                    class="flex items-center flex-col px-6 py-6 focus:outline-none sm:w-1/2 md:w-1/4 md:py-0"
                >
                <lucide-icon name="school" [size]="18"></lucide-icon>
                    <h4
                        class="pt-5 text-center text-lg font-medium leading-6 text-gray-800 focus:outline-none"
                    >
                        V škole vyzdhvineš
                    </h4>
                </div>
                <div
                    class="flex items-center flex-col px-6 py-6 focus:outline-none sm:w-1/2 md:w-1/4 md:py-0"
                >
                    <span
                        role="img"
                        aria-label="eyes"
                        class="text-2xl"
                    >
                        👀
                    </span>
                    <h4
                        tabIndex={0}
                        class="pt-5 text-center text-lg font-medium leading-6 text-gray-800 focus:outline-none"
                    >
                        Ľahké že ?
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>