@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Mulish", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;

		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;

		--border: 220 13% 91%;
		--input: 220 13% 91%;

		--primary: 220.9 39.3% 11%;
		--primary-foreground: 210 20% 98%;

		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;

		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 210 20% 98%;

		--ring: 224 71.4% 4.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;

		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;

		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;

		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;

		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;

		--primary: 210 20% 98%;
		--primary-foreground: 220.9 39.3% 11%;

		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;

		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;

		--ring: 216 12.2% 83.9%;
	}
}

@layer utilities {
	/* Add keyframes for fade-in and scale */
	@keyframes fade-in-scale {
		from {
			opacity: 0;
			transform: scale(0.9);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	/* Animation class for fade-in with scale */
	.animate-fade-in-scale {
		animation: fade-in-scale 0.5s ease-in-out forwards;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

.fade-in {
	animation: fadeIn 0.3s ease-in-out 0.5s forwards;
}

html::-webkit-scrollbar {
	width: 16px;
	height: 16px;
  }
  
  html::-webkit-scrollbar-thumb {
	background: #ffffff;
	border-radius: 16px;
	box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
	  inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  }
  
  ::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
  }
  
  .top-to-btm {
	position: relative;
  }
  
  .icon-position {
	position: fixed;
	bottom: 40px;
	right: 25px;
	z-index: 20;
  }
  
  .icon-style {
	background-color: #551b54;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	animation: movebtn 3s ease-in-out infinite;
	transition: all 0.5s ease-in-out;
  }
  
  .icon-style:hover {
	animation: none;
	background: #fff;
	color: #551b54;
	border: 2px solid #551b54;
  }
  
  @keyframes movebtn {
	0% {
	  transform: translateY(0px);
	}
	25% {
	  transform: translateY(20px);
	}
	50% {
	  transform: translateY(0px);
	}
	75% {
	  transform: translateY(-20px);
	}
	100% {
	  transform: translateY(0px);
	}
  }

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
